#education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#040f0f, #248232);
  min-height: 40vh;
  min-width: 40vw;
  border-radius: 40px;
}
#education > input {
  margin-left: 10%;
  margin-right: 10%;
}

#buttondiv2 {
  display: flex;
  justify-content: space-around;
}
#addeducationbutton {
  background-color: #2d3a3a;
  color: #2ba84a;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: all 0.4s ease-in-out;
}
#educationlabel {
  position: relative;
  display: flex;
  margin-left: 10%;
  color: #fcfffc;
  font-size: x-large;
}
#deleteeducationbutton {
  background-color: #2d3a3a;
  color: #a82b2b;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: all 0.4s ease-in-out;
}

button:hover {
  transform: scale(1.2);
}
